*{
  box-sizing: border-box;
}


body {
  background-color: #E2DFDF;
}

html {
  scroll-behavior: smooth;
}

.main {
  margin-left: 240px;
  /* padding: 0 20px; */
}

.link {
  display: flex;
  width: 100%;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  width: 95%;
  margin: 0 auto;
  transition: all .3s linear;
  font-size: 16px;
  margin-bottom: 5px;
}

.copy-right {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toolbar {
  display: flex;
  color: #fff;
  padding: 15px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}

.toolbar-right {
  flex-basis: 70%;
  padding-left: 10px;
}

.logout-btn {
  text-transform: none !important;
  font-size: 14px;
  padding-left: 0;
  font-weight: 100;

}

.logout-btn span {
  font-size: 14px !important;
  font-weight: 100;
}

.active-dashboard {
  background-color: #fff;
  transition: all .3s linear;
  border-radius: 5px;
  box-shadow: 0 12px 20px -10px rgb(255 255 255 / 28%),
    0 4px 20px 0 rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(255 255 255 / 20%);
}

.active-dashboard .MuiTypography-body1 {
  color: #141532;
  font-weight: 500;
}


.link-icon {
  margin-right: 10px;
}

.active-dashboard .link-icon {
  color: #141532;
}

.dashboard {
  background-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .ant-upload .ant-upload-select{
  width: 50% !important;
}

.ant-upload{
  width: 100% !important;
  height: 100px !important;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}